html {
    width: 100%;
    height: 100%;
}
body {
    background-image: url("background-image.jpg");
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
}
#messenger {
    border: solid #ADBAC0;
    margin: 10px;
    border-radius: 10px;
}
#messenger-header {
    top: 0;
    position: sticky;
    background-color: #DBDBDB;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: solid #ADBAC0;
    overflow: auto;
}
#author {
    font-size: 20;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    margin-left: 30px;
    color: black;
    float: left;
}
#Rlink {
    text-decoration: none;
    color: black;
    border: #ADBAC0 solid;
    float: right;
    background-color: red;
}
#messenger-conversation {
    background-color: #FFFEF2;
    height: 1000px;
}
#user-left, #user-right {
    clear: both;
    border: solid #ADBAC0;
    border-radius: 10px;
    padding: 0px;
    margin: 10px;
    list-style: none;
    overflow: auto;
}
#user-left {
    float: left;
    background-color: greenyellow;
}
#user-right {
    float: right;
    background-color: lightblue;
}
#ltime {
    float: left;
    font-size: 12px;
    font-weight: bold;
}
#rtime {
    float: right;
    font-size: 12px;
    font-weight: bold;
}
#messenger-footer {
    background-color: #DBDBDB;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#send-message {
    border-radius: 5px;
    border: solid #6495ED;
    padding: 4px;
    margin: 10px;
}
#send-button {
    border-radius: 90px;
    background-color: #B0E0E6;
}